[user]
    name = Julien Chiron
    email = julien.chiron@gmail.com
[core]
    editor = vim
[alias]
    co = checkout
    ci = commit
    f = fetch
    l = log --oneline
    g = log --oneline --graph --all --decorate
    ps = push
    pl = pull
    s = status
    sw = switch
    b = branch
[init]
    defaultBranch = main
    templatedir = ~/.dotfiles/git/.git_template
