[user]
    name = Julien Chiron
    email = julien.chiron@gmail.com
[core]
    editor = vim
[alias]
    co = checkout
    ci = commit
    f = fetch
    l = log
    ps = push
    pl = pull
    s = status
[init]
    defaultBranch = main
